<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header th:replace="fragments/header :: header"></header>
<div th:replace="fragments/user-aside :: top"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Комуникация
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
    	<div class="col-md-4">
    	
    	
    	 	<div th:each="question: ${questions}" class="box box-warning">
				<div class="box-header with-border">
					<div style="float: right;"> <small><span th:text="${#dates.format(question.get('time'), 'dd MMM HH:mm')}"> </span></small> </div>
					<div style="width: 100%; text-align: left;"> <small><span th:text="${question.get('topic')}" ></span></small> </div>
				</div>	
				<div class="box-body">
					<p><span th:text="${question.get('question')}" ></span></p>	
				</div>
			</div>
			
		</div>
		
		<div class="col-md-4">
		<form role="form" th:action="@{'/user/question'}" method="post" enctype="multipart/form-data">
		              
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title"> Задай въпрос </h3>
				</div>	
				<div class="box-body">
					<form role="form" action="/user/send-message" method="post">
	                	<div class="form-group">
	                		<label for="question">Въпрос</label>
							<textarea id="question" name="question" class="form-control" rows="5" placeholder="Въведи..."></textarea>
						</div>
					</form>
				</div>
				<div class="box-footer">
	                <button type="submit" class="btn btn-primary">Изпрати</button>
	            </div>
			</div>	
		</form>
		</div>
		

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer th:replace="fragments/footer :: footer"></footer>


</div>
<!-- ./wrapper -->

<div th:replace="fragments/foot :: foot"></div>
</body>
</html>
